<div class="container content-wrapper buffer-both">
  <h1 class="title-medium">Редактирование профиля</h1>

  <div class="column-1-2">
    
      <%= form_for @user do |f| %>
      
        <% if @user.errors.any? %>
          <div class="form-errors">
            <ul>
              <% for message in @user.errors.full_messages %>
                <li class="form-error-message"><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-field">
          <%= f.label :username, class: 'form-label' %>
          <%= f.text_field :username, class: 'form-text-field' %>
        </div>

        <div class="form-field">
          <%= f.label :name, 'Ваше имя', class: 'form-label' %>
          <%= f.text_field :name, class: 'form-text-field' %>
        </div>

        <div class="form-field">
          <%= f.label :avatar_url, 'URL Вашей аватарки', class: 'form-label' %>
          <%= f.text_field :avatar_url, class: 'form-text-field' %>
        </div>

        <div class="buffer-top-large buffer-bottom">
          Еслин не хотите меня пароль - оставьте эти поля пустыми:
        </div>

        <div class="form-field">
          <%= f.label :password, 'Пароль', class: 'form-label' %>
          <%= f.text_field :password, class: 'form-text-field' %>
        </div>

        <div class="form-field">
          <%= f.label :password_confirmation, 'Подтверждение пароля', class: 'form-label' %>
          <%= f.text_field :password_confirmation, class: 'form-text-field' %>
        </div>

        <div class="form-action">
          <%= f.submit 'Сохранить', class: 'button button-small button-dark' %>
        </div>
      <% end %>
  </div>
</div>
